.login{
    height: 500px;
    width:400px;
    background-color: black;
    margin-top: 200px;
    margin-left: 550px;
    border-radius: 10px;
  }
  /* heading in login */
  .login h1{
    color: white;
    font-size: 44px;
    padding-left: 145px;
  }
  /* form starting */
  .login form{
    padding-top: 20px;
    padding-left: 40px;
  }
  
 
  /* form end */